[Desktop Entry]
Name=Hefesto - Dualsense4Unix
Comment=Gerenciador DualSense para Linux
Exec=hefesto-dualsense4unix-gui
Icon=br.andrefarias.Hefesto
Terminal=false
Type=Application
Categories=Utility;Game;Settings;HardwareSettings;
Keywords=DualSense;PS5;controle;gamepad;trigger;haptic;
StartupWMClass=Hefesto-Dualsense4Unix
