[Desktop Entry]
Name=Hefesto - Dualsense4Unix
Name[pt_BR]=Hefesto - Dualsense4Unix
Comment=Gerenciador DualSense na barra do COSMIC
Comment[pt_BR]=Gerenciador DualSense na barra do COSMIC
Comment[en]=DualSense manager in the COSMIC panel
Type=Application
Exec=hefesto-dualsense4unix-applet
Icon=com.vitoriamaria.HefestoDualsense4Unix
Terminal=false
NoDisplay=true
Categories=COSMIC;
Keywords=COSMIC;Applet;DualSense;Gamepad;Hefesto;PS5;
Keywords[pt_BR]=COSMIC;Miniaplicativo;DualSense;Gamepad;Hefesto;PS5;
StartupNotify=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
